$background: #282a36;
$foreground: #f8f8f2;
$selection:  #44475A*0.8;
$comment:    #6272A4;
$red:        #FF5555;
$orange:     #FFB86C;
$yellow:     #F1FA8C;
$green:      #50FA7B;
$purple:     #BD93F9;
$cyan:       #8BE9FD;
$pink:       #FF79C6;
