@import "colours";

#content {
    max-width: 500px;
    width: 85%;
    margin: auto;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

html {
    background-color: $background;
}

body {
    color: $foreground;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.2;
    font-size: 14px;
}

pre {
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    background-color: $selection;
}

code {
    font-weight: 600;
    color: $yellow;
}

table {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 30pt;
    margin-bottom: 6pt;
    text-align: center;
    width: 100%;
}

h3 {
    color: $purple;
}

h2 {
    color: $green;
}

h1 {
    margin-top: 15pt !important;
    color: $pink;
    font-size-adjust: 0.45;
}

ul {
    padding-right: 40px;
}

pre.example {
    margin: 20px 20px;
}

details {
    color: $pink;
}

details[open=""] {
    border: 1px solid $comment;
    border-radius: 10px;
    padding: 10px;
}

a:link, a:visited {
    text-decoration: none;
    color: $cyan;
}

th.org-left {
    text-align: left;
}

.theorem {
    display: block;
    margin: 16px 20px;
    font-style: italic;
}

.theorem p {
    margin: 0px;
}

.theorem:before {
    content: "Theorem.";
    font-weight: bold;
    font-style: normal;
    color: $purple;
}

.lemma {
    display: block;
    margin: 16px 20px;
    font-style: italic;
}

.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
    color: $purple;
}

.lemma p {
    margin: 0px;
}

.proof {
    display: block;
    margin: 16px 20px 36px 20px;
    font-style: normal;
}

.proof:before {
    content: "Proof.";
    font-style: italic;
    color: $purple;
}

.proof:after {
    content: "\25FC";
    float:right;
    color: $purple;
}

.proof p {
    margin: 0px;
}

.definition {
    display: block;
    margin: 16px 20px;
    font-style: normal;
}

.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
    color: $purple;
}

.definition p {
    margin: 0px;
}
